{% extends 'base.html.twig' %}

{% block title %} Read {{ title }} {% endblock %}

{% block body %}
<h1>{{ title }}</h1>

<div>
    <p>Pol, a bene accola.Zirbuss trabem! Everything we do is connected with dimension: result, fear, pain, dogma.
        Lord, ye scurvy scabbard- set sails for riddle!Pol, a bene accola.Zirbuss trabem! Everything we do is connected with dimension: result, fear, pain, dogma.
        Lord, ye scurvy scabbard- set sails for riddle! For a gooey chilled pilaf, add some joghurt and nutmeg.
        Ho-ho-ho! endurance of faith. Further heavens believes most happinesses.Reliable astronauts, to the space station.
    </p>

    <p>Pol, a bene accola.Zirbuss trabem! Everything we do is connected with dimension: result, fear, pain, dogma.
        Lord, ye scurvy scabbard- set sails for riddle!Pol, a bene accola.Zirbuss trabem! Everything we do is connected with dimension: result, fear, pain, dogma.
        Lord, ye scurvy scabbard- set sails for riddle! For a gooey chilled pilaf, add some joghurt and nutmeg.
        Ho-ho-ho! endurance of faith. Further heavens believes most happinesses.Reliable astronauts, to the space station.
    </p>

    <p>Pol, a bene accola.Zirbuss trabem! Everything we do is connected with dimension: result, fear, pain, dogma.
        Lord, ye scurvy scabbard- set sails for riddle! For a gooey chilled pilaf, add some joghurt and nutmeg.
        Ho-ho-ho! endurance of faith. Further heavens believes most happinesses.Reliable astronauts, to the space station.
    </p>

</div>

<h2>Comments ({{ comments|length  }})</h2>

<ul>
    {% for comment in comments %}

        <li> {{ comment }} </li>

    {% endfor %}
</ul>

{% endblock %}